Package: lanscan
Version: 0.1
Section: admin
Maintainer: Carl J Smith <BM-NBHLt5EUFVEbRCmrbVrfCyaB2c8d24U9>
Installed-Size: 20
Priority: optional
Architecture: all
Depends: python (>=2.7)
Description: Scans the lan and returns hostnames and ip addresses.
 Scans your lan and returns the hostname and ip address of every device connected.
